/* using flexbox for 3-col layout */
body, html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow: hidden;
}
body {
    width:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    height:100%;
    font-family: Helvetica,Arial,sans-serif;
}
content {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
}
slides {
    order: -1;
}
slides, actions {
    display: flex;
    flex-direction: column;

    flex :0 0 250px;
}
actions {
    flex :0 0 250px;
}

upper,lower { display: flex; flex-direction: column }
slide,action {
    padding: 0.33em;
    flex: auto;
    border:1px solid gray;
}
upper { }
lower { overflow-y: auto; }
slides *, actions *, upper * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
upper.editor, lower.editor {
    padding:1em;
}

slides {
    background: #dddddd;
}

content {
    background: #ffffff;
}

actions {
    background-color: #dddddd;
}

logo h1 { font-size:2em; color: gray }
logo { padding: 1em }
sidebar-menu { padding: 1em }

/* general guides */
a { color: #0074d9 }

/* main screen */
.timelines table { width:100% }
.timelines th, .timelines td { padding:0.5em }
.timelines th { }
.timelines td { }
.timelines .odd { background-color: ghostwhite }

.timelines .create-new {  }

/* configuring a timeline */
.config table { width: 100% }
.config th, .config td { padding:0.5em }
.config th { }
.config td { }
.config .odd { background-color: ghostwhite }
.config input { width: 100% }
.config .field_key { width: 100px }
.config .field_value { }
.config .add-field { padding:1em }
.config .remove-field {
    text-decoration: none;
    border:1px solid #ffdc00;
    width:20px;
    border-radius: 10px;
    display:block;
    text-align: center;
    background-color: #ffdc00;
    color: black;
}
.config .to-be-deleted input { text-decoration: line-through }

/* editing a timeline */
.timeline interactive { padding:1em }
.timeline interactive h1, interactive h2 { font-size: 1em; }
.timeline interactive h1 { font-weight: bold }
.timeline interactive h2 { font-size:0.75em; }

.timeline post-field { display: flex; flex-direction: row; align-items: stretch;}
.timeline post-field-label { flex: 0 0 50px; font-weight: bold; font-size:1em; }
.timeline post-input { flex: auto; width:100% }
.timeline post-input input { width:100% }
