wordpress
wordpress/*
config.php
templates_c
templates_c/*
_old
_old/*
renderers_dev
renderers_dev/*
renderers
renderers/*
composer.lock
vendor
vendor/*
node_modules
node_modules/*
*.exe
*.rdb
npm.cmd
supervisor
supervisor.cmd
node-supervisor
node-supervisor.cmd
node-debug
node-debug.cmd
